// colors skim
$black: #000;
$persianBlue: #181e4b;
$navtext: #212832;
$yellow: #F1A501;
$orange: #DF6951;
$turquise: #029bc5;
$greyBlue: #3a556a;
$voiletGrey: #5E6282;
$textColor: #686D77;
$lightpink: #D5AEE4;
$light1: #d5d6db;
$light2: #E1E6E9;
$light3: #FFF1DA;
$light4:#f9f7fe;
$white: #fff;